@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
ul.inline-block {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bg-primary-light {
  --tw-bg-opacity: 1;
  background-color: rgba(105, 213, 177, var(--tw-bg-opacity));
}
a.header-cover {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 20px;
  color: #126d4f;
}
.header-cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-diagonal-primary-light:after {
  background-image: linear-gradient(to bottom right, #69d5b1 50%, #fff 0);
}

.bg-diagonal:after {
  content: "";
  width: 100%;
  height: 150px;
  display: block;
}
.header-inner-cover h1,
.header-inner-cover h2 {
  font-size: 5.25rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.25;
  white-space: pre;
  font-family: "Fjalla One", sans-serif;
}
.header-inner-cover p {
  font-size: 1.5rem;
  color: #fff;
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(0, 188, 137, var(--tw-bg-opacity));
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  transition: 0.3s;
  display: inline-block;
}
.shadow-lg:hover {
  background-color: rgba(18, 109, 79, var(--tw-bg-opacity));
  color: #fff;
}
.py-32 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.text-right {
  text-align: end;
}
.mr-6 {
  margin-right: 250px;
}
p.leading-normal {
  font-size: 1.125rem;
  font-family: Open Sans, sans-serif;
}
.leading-tight {
  font-size: 4rem;
  color: #69d5b1;
  font-family: "Fjalla One";
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 100%;
  max-width: 308px;
  margin-left: auto;
  border-bottom: 1px solid #ccc;
}
.bg-band-primary-lighter:before {
  background-image: linear-gradient(
    to top right,
    #e6f5f0,
    #e6f5f0 50%,
    #fff 0,
    #fff
  );
}

.bg-band:before {
  height: 20px;
  top: 0;
}
.bg-band:after {
  height: 40px;
  bottom: -40px;
}
.bg-band:after,
.bg-band:before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
}
.bg-primary-lighter {
  --tw-bg-opacity: 1;
  background-color: rgba(230, 245, 240);
  position: relative;
}
.bg-band-primary-lighter:after {
  background-image: linear-gradient(
    to bottom left,
    #e6f5f0,
    #e6f5f0 50%,
    #fff 0,
    #fff
  );
}
.lighter-tigh-cover {
  display: flex;
  align-items: center;
}
.leading-tight-2 {
  font-size: 4rem;
  color: #000000;
  font-family: "Fjalla One";
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-right: auto;
  width: 260px;
  border-bottom: 1px solid #ccc;
}
